:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light;
    color: black;
    background-color: rgb(31, 31, 31);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 38px;
    font-size: 3rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    margin-top: 59px;
    margin-bottom: 45px;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}

h2 em {
    font-weight: 700;
}

#input-section {
    width: 734px;
    display: grid;
    grid-template-columns: 380px 201px 121px;
    column-gap: 1rem;
}

#input-section div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

#input-section div:last-child {
    flex-direction: column-reverse;
}

#input-section label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #ffffff;
}

#input-section input {
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

#input-section ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #94a3b8;
    opacity: 1; /* Firefox */
    font-weight: 400;
}

#input-section :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #94a3b8;
    font-weight: 400;
}

#input-section ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #94a3b8;
    font-weight: 400;
}

#input-section button {
    font-size: 0.875rem;
    line-height: 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #830e13;
    padding: 8px 16px;
    color: #ffffff;
}

#input-section button:hover {
    cursor: pointer;
    opacity: 0.9;
}

#display-section {
    width: 640px;
}

#display-section h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.5rem;
    color: #ffffff;
}

#display-section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 0.375rem;
    padding: 12px 16px;
    list-style: none;
}

#display-section p:first-child {
    margin: 0;
    margin-bottom: 4px;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
}

#display-section p:last-child {
    margin: 0;
    color: #04884a;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}
